/*!
 * @copyright Copyright &copy; Kartik Visweswaran, Krajee.com, 2013
 * @package yii2-markdown
 * @version 1.0.0
 *
 * Markdown editor styling using Bootstrap 3.0 theme
 * Built for Yii Framework 2.0
 * Author: Kartik Visweswaran
 * Year: 2013
 * For more Yii related demos visit http://demos.krajee.com
 */
.kv-md-editor {
	display: block;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 1px;
}

.kv-md-input {
	resize: none;
}

.kv-md-editor > .kv-md-header, .kv-md-editor .kv-md-footer {
	display: block;
	background: #fefefe;
	margin: 1px;
	padding: 6px 4px;
}

.kv-heading-1 {
	font-size: 36px;
}

.kv-heading-2 {
	font-size: 30px;
}

.kv-heading-3 {
	font-size: 24px;
}

.kv-heading-4 {
	font-size: 18px;
}

.kv-heading-5 {
	font-size: 14px;
}

.kv-heading-6 {
	font-size: 12px;
}

.kv-md-editor > .kv-md-preview {
	background: #fff;
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
	min-height: 10px;
	overflow: auto;
	padding: 8px;
}

.kv-md-editor textarea {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 14px;
	display: block;
	width: 100%;
	border: 0;
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
	border-radius: 0;
	box-shadow: none;
	background: #f5f5f5;
	margin: 0;
	padding: 8px;
}

.kv-md-editor textarea:focus {
	box-shadow: none;
	background: #fcfcfc;
}

.kv-md-editor.active {
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
	border-color: #66afe9;
}

.kv-md-hint {
	font-size: .85em;
	color: #999;
}

.kv-md-hint:hover {
	color: #555;
}

.kv-fullscreen .modal-dialog {
	width: 98%;
	height: 98%;
	padding: 0;
}

.kv-fullscreen .modal-content {
	height: auto;
}

.kv-md-preview th[align="right"] {
	text-align: right !important;
}

.kv-md-preview th[align="center"] {
	text-align: center !important;
}

.kv-loading {
	background-image: url('../img/loading.gif');
	background-position: center bottom;
	background-repeat: no-repeat;
	z-index: 1000;
	cursor: wait;
	opacity: 0.4;
	height: 50px;
	text-align: center;
	font-size: 18px;
}